<navbar></navbar>

<div class="container">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">
        {{NewClassified.title}}
      </h3>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea id="description" class="form-control" rows="3"  ng-model="NewClassified.description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="price" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-10">
            <input type="number" name="points" id="price" min="0" max="10000" step="1" value="0"  ng-model="NewClassified.price">
          </div>
        </div>

        <div class="form-group" ng-hide="true">
          <label for="exampleInputFile" class="col-sm-2 control-label">Image</label>
          <div class="col-sm-10">
            <input type="file" id="exampleInputFile">
          </div>
        </div>

        <div class="form-group">
          <label for="country" class="col-sm-2 control-label">Country</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="country" placeholder="Country" ng-model="NewClassified.address.country">
          </div>
        </div>
        <div class="form-group">
          <label for="city" class="col-sm-2 control-label">City</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="city" placeholder="Country" ng-model="NewClassified.address.city">
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Contact name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Contact name" ng-model="NewClassified.contact.name">
          </div>
        </div>
        <div class="form-group">
          <label for="mail" class="col-sm-2 control-label">Contact mail</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="mail" placeholder="Mail" ng-model="NewClassified.contact.mail">
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-sm-2 control-label">Contact phone</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="NewClassified.contact.phone">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <p>{{message}}</p>
      <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
      <button class="btn btn" type="button" ng-click="ok()">Exit</button>
    </div>
  </script>
  <div class="col-sm-12">
    <h1>Your classifieds:</h1>
  </div>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="classified in userClassifieds">
      <div class="classified-info">
        <strong><a ng-click="open(classified)">{{classified.title}}</a></strong><br>
        <span class="text-muted">{{classified.price | currency:"PLN "}}</span>
      </div>
      <a ng-click="delete(classified)" class="trash"><span class="glyphicon glyphicon-remove"></span></a>
    </li>
  </ul>
</div>

<footer></footer>
